name: Deploy to Netlify

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: pnpm build
        env:
          BASE_URL: https://open-algotrade-pwa.netlify.app
          HOME_PATHNAME: /dashboards/trading
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          NEXTAUTH_URL: https://open-algotrade-pwa.netlify.app
          NEXT_PUBLIC_API_URL: https://api-production-1302.up.railway.app
          NEXT_PUBLIC_HOME_PATHNAME: /dashboards/trading

      - uses: nwtgck/actions-netlify@v3
        with:
          publish-dir: .next
          production-deploy: true
          netlify-config-path: ./netlify.toml
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
